.so-widget-sow-post-carousel-default-251c19d0a56e .sow-carousel-title a.sow-carousel-next,
.so-widget-sow-post-carousel-default-251c19d0a56e .sow-carousel-title a.sow-carousel-previous {
  background: #333333;
  color: #ffffff;
}
.so-widget-sow-post-carousel-default-251c19d0a56e .sow-carousel-title a.sow-carousel-next:focus,
.so-widget-sow-post-carousel-default-251c19d0a56e .sow-carousel-title a.sow-carousel-previous:focus,
.so-widget-sow-post-carousel-default-251c19d0a56e .sow-carousel-title a.sow-carousel-next:hover,
.so-widget-sow-post-carousel-default-251c19d0a56e .sow-carousel-title a.sow-carousel-previous:hover {
  background: #444444;
  
}
.so-widget-sow-post-carousel-default-251c19d0a56e .sow-carousel-wrapper .sow-carousel-items .sow-carousel-item {
  width: px;
}
.so-widget-sow-post-carousel-default-251c19d0a56e .sow-carousel-wrapper .sow-carousel-items .sow-carousel-item .sow-carousel-thumbnail a {
  background-repeat: no-repeat;
  background-size: px px;
}
.so-widget-sow-post-carousel-default-251c19d0a56e .sow-carousel-wrapper .sow-carousel-items .sow-carousel-item .sow-carousel-thumbnail a,
.so-widget-sow-post-carousel-default-251c19d0a56e .sow-carousel-wrapper .sow-carousel-items .sow-carousel-item .sow-carousel-thumbnail a span.overlay {
  width: px;
  height: px;
}
.so-widget-sow-post-carousel-default-251c19d0a56e .sow-carousel-wrapper .sow-carousel-items .sow-carousel-item .sow-carousel-thumbnail a span.overlay {
  background: #3279bb;
}
.so-widget-sow-post-carousel-default-251c19d0a56e .sow-carousel-wrapper .sow-carousel-items .sow-carousel-item:focus .sow-carousel-thumbnail a,
.so-widget-sow-post-carousel-default-251c19d0a56e .sow-carousel-wrapper .sow-carousel-items .sow-carousel-item:hover .sow-carousel-thumbnail a {
  background-size: px px;
}
.so-widget-sow-post-carousel-default-251c19d0a56e .sow-carousel-wrapper .sow-carousel-items .sow-carousel-item:focus .sow-carousel-thumbnail a span.overlay,
.so-widget-sow-post-carousel-default-251c19d0a56e .sow-carousel-wrapper .sow-carousel-items .sow-carousel-item:hover .sow-carousel-thumbnail a span.overlay {
  opacity: 0.5;
}
.so-widget-sow-post-carousel-default-251c19d0a56e .sow-carousel-wrapper .sow-carousel-items .sow-carousel-item .sow-carousel-default-thumbnail {
  width: px;
  height: px;
}
.so-widget-sow-post-carousel-default-251c19d0a56e .sow-carousel-wrapper .sow-carousel-items .sow-carousel-loading {
  width: px;
  height: px;
}